@media only screen and (min-width: 1196px) {

  #bear {
    position: absolute;
    left: 800px;
  }

}

@media only screen and (min-width: 1196px) {

  #ostrich {
    top: -50px;
  }

}

@media only screen and (min-width: 406px) and (max-width: 1090px) {

  #monkey {
    top: 300px;
  }

}
